<div class="nosotros">
	<h1>Quiénes somos</h1>
	<h2>Misión.</h2>

	<p>Somos  una  empresa  metense  especializada en  el  servicio  y  comercialización de  productos  alimenticios  como:  lácteos,  panadería,  huevos,  carnes  frías, enlatados,  snacks, galletas,  dulces nacionales  e importados,  víveres, licores  y abarrotes con los mejores estándares de calidad e inocuidad.  Garantizamos  nuestros  procesos  mediante  un  personal  altamente  calificado, equipos  e  infraestructura  establecidos  logrando  dar  satisfacción  mediante  la adquisición  de  los  productos  por  medio  de  los  proveedores  hacia  nuestros clientes,  logrando  un  mejoramiento  continuo  del  proceso  de la  venta  y/osuministro de productos alimenticios.</p>

	<h2>Visión.</h2>

	<p>COMERCIAL EL PROVEEDOR SASpara el 2025  va ser una empresa  líder de   comercialización   y   suministro   de   productos   alimenticios   de   la   región Orinoquia,  estableciendo  sucursales  y  una  tienda  virtual    para garantizar  el cumplimiento eficiente de las actividades brindando satisfacer las necesidades de  los  clientes  en  las  diferentes  ciudades  de  la  Orinoquia  manteniendo  un mejoramiento  continuo  con  la    implementación  de  equipos  y tecnologías    que permita hacer eficiente los procesos.</p>

	<h2>Politica Integral.</h2>
	
	<p>Somos  una  empresa  dedicada  a  la  comercialización  de    productos alimenticios   inocuos   y   de   alta   calidad,   garantizando   un   eficiente desarrollo de las actividades por parte de personal calificado, equipos e infraestructura, asignando los recursos necesarios para lograr mantener una  mejora  continua,  permitiendo  mitigar  lesiones,   y  desechos  que contaminen,  cumpliendo  la  legislación  correspondiente  garantizando  la satisfacción  de  nuestros clientes.</p>

</div>